.page-header {
        background-color: lightblue;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }

h1 {
        font-family: "Courier New", Courier, monospace;

    }
h2 {
        font-family: "Courier New", Courier, monospace;

    }
body {
    /*background-color: CAC9D1;*/

    background-image: url("https://pbs.twimg.com/media/DBM7TAFVYAAPnB9.jpg:large");
}
