<html>
 <head>
     <title>Login Historial Medico</title>
 </head>
 <body style="background-color:lightblue;">
 <h1 style="color:blue;font-family:verdana;"><strong>Login Historial Medico MEDICARD-RD</strong></h1>
  <img src="https://pbs.twimg.com/media/DBNXIMsVYAATm1r.jpg" alt="medicardere" style="width:500px;height300:px;">
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ingresar</button>
  </form>
{% endblock %}
 <h2 style="color:black;font-family:verdana;">MEDICARD-RD Derechos Reservados 2017.</h2>
 </body>
</html>

