<html>
<head>
    <meta charset="UTF-8">
    <title>Logout Medicard-RD</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body style="background-color: lightblue; text-align: center;">
{% block content %}
<h1 style="color: blue">Sesion cerrada</h1>

<a href="http://medicardrd.pythonanywhere.com/login/">Haga click aqui para ingresar denuevo.</a>
<h2 style="text-decoration: underline;"><strong>Gracias por utilizar Medicard-RD</strong></h2>
<p>Medicard-RD derechos reservados 2017.</p>
<div>
<i class="material-icons">cloud</i>
<i class="material-icons">favorite</i>
<i class="material-icons">attachment</i>
<i class="material-icons">computer</i>
<i class="material-icons">traffic</i>
</div>
{% endblock content %}
</body>
</html>