<html>
<head>
    <meta charset="UTF-8">
    <title>Medicard-RD</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body style="background-color:lightblue;">
<div style="text-align: center;">
<img src="https://pbs.twimg.com/media/DBNXIMsVYAATm1r.jpg" alt="medicardere" style="width:500px;height300:px;">
<h1 style="font-family: Arial, Helvetica, sans-serif;color: blue;">Saliendo de Historial medico MEDICARD-RD</h1>
<a style="font-size: 30px;" href="http://medicardrd.pythonanywhere.com/admin/"><strong>Continuar</strong></a>
<p style="color:black;font-family:verdana;font-size: 20px;">MEDICARD-RD Derechos Reservados 2017.</p>
</div>
<div style="text-align: center;">
<i class="material-icons">cloud</i>
<i class="material-icons">favorite</i>
<i class="material-icons">attachment</i>
<i class="material-icons">computer</i>
<i class="material-icons">traffic</i>
</div>
</body>
</html>
