{% load staticfiles %}
<html>
<head>
<title>MEDICARD-RD</title>
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'css/medicard_rd.css' %}">
</head>
<body>
<div class="page-header">
<!--<h1>MEDICARD-RD</h1>-->
<img src="https://pbs.twimg.com/media/DBNXIMsVYAATm1r.jpg" alt="medicard" style="width=80px;height:100px;">
</div>
<ul>
    <li><a href="http://medicardrd.pythonanywhere.com/admin/"><strong>INICIAR SESION</strong></a></li>
</ul>
<div class="foto">
   <!-- <center><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/18664612_10158681302080257_6943503868909832631_n.jpg?oh=ddba22a4f65048859d6f83be888714fc&oe=59B13A3D" alt="medicard-rdd" style="width=500px;height:300px;"></center>-->
</div>
<div class="link-historial">
   <h2><a href="http://medicardrd.pythonanywhere.com/login/"><strong>MEDICARD Historial medico</strong></a></h2>
</div>
<div class="link-admin">
    <h3><a href="http://medicardrd.pythonanywhere.com/admin/"><strong>Administracion MEDICARD-RD</strong></a></h3>
</div>
<div class="parrafo1">
<p>MEDICARD-RD es un proyecto<strong> INL INTEC</strong></p>
</div>
<div class="parrafo2">
    <p><strong>Haciendo todo lo posible para ayudarte dia a dia</strong></p>
</div>
<div class="copyright">
    <h4><em>Producido por Kenny Fung, Luis Taveras y Regil Perez</em></h4>
</div>
<iframe width="500" height="300" src="https://www.youtube.com/embed/QKG8xp6Ey3Q?autoplay=1" frameborder="0" allowfullscreen></iframe>
<div>
<i class="material-icons">cloud</i>
<i class="material-icons">favorite</i>
<i class="material-icons">attachment</i>
<i class="material-icons">computer</i>
<i class="material-icons">traffic</i>
</div>
</body>
</html>
